<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Testing">

  <test name="Login Test" preserve-order="false">
    <classes>
      <!-- Specify the correct fully qualified name of the runner class -->
      <class name="com.runner.TestNgRunner" />
    </classes>
  </test>
  
</suite> <!-- Suite -->